@import './base.css';
div#home {
    padding-top: 50px;
    .card-create {
        box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
        width: 124px;
        height: 124px;
        margin: 12px;
        transition: .15s all ease-in-out;
        &:hover {
            transform: scale(1.1);
        }
    }
    .wrapper {
        display: flex;
        max-width: 44400px;
        flex-wrap: wrap;

    }
    .card {
        box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
        max-width: 124px;
        margin: 12px;
        transition: .15s all ease-in-out;
        &:hover {
            transform: scale(1.1);
        }
        a {
            padding: 12px;
            color: #000000;
            font-size: 24px;
            display: flex;
            flex-direction: column;
            align-items: center;

            img {
                height: 100px;
            }
        }
    }

}
